// nextflow.config 

params {
    sequence = null // mandatory input
    chunksize = 50000 // fasta file chunk size
}

process {
    executor = 'slurm'
    
    cpus   = 1
    memory = '4GB'
    time   = '20m'

    withLabel: gpu_process {
        module = 'cuda/12.8'
        cpus   = 8
        memory = '64GB'
        time   = '24h'
    }

    withLabel: cpu_process { // a beefier process that a normal one, no gpus
        cpus   = 8
        memory = '32GB'
        time   = '2h'
    }
}
