process {
  executor = 'slurm'

  // Global slurm defaults
  account = 'bhatshriram-ic'

  withLabel: gpu_process {
    queue = 'IllinoisComputes-GPU'
    cpus = 8
    memory = '64GB'
    time = '4h'
    clusterOptions = '--job-name=evo2_run --gres=gpu:1 --nodes=1 --ntasks-per-node=1'
  }

  withLabel: cpu_process {
    queue = 'IllinoisComputes'
    cpus = 8
    memory = '64GB'
    time = '4h'
    clusterOptions = '--job-name=evo2_cpu_process --nodes=1 --ntasks=1'
  }
}


// hardcoded paths
params {
  evo2_venv = "/taiga/illinois/las/sib/c-cheng/work/evo2_env/"
}
