// nextflow.config 

params {
    sequence = null // mandatory input
}

process {
    executor = 'slurm'
    
    cpus   = 1
    memory = '4GB'
    time   = '20m'

    withLabel: gpu_process {
        module = 'cuda/12.8'
        cpus   = 8
        memory = '64GB'
        time   = '4h'
    }

    withLabel: cpu_process {
        cpus   = 2
        memory = '64GB'
        time   = '20m'
    }
}
