// taiga_evo7b.config - Campus Cluster Specific config file

workDir = "/scratch/sb65/nextflow_work"

params {
    evo2_venv   = "/taiga/illinois/las/sib/c-cheng/work/evo2_env"
    fast_cache  = "/scratch/sb65/huggingface_cache"
    taiga_dir   = "/taiga/illinois/las/sib/c-cheng/work"
    cluster_acc = "--account=bhatshriram-ic" 
}

process {
    withLabel: gpu_process {
        queue          = 'IllinoisComputes-GPU'
        clusterOptions = "${params.cluster_acc} --job-name=evo2_run --gres=gpu:1 --nodes=1 --ntasks-per-node=1"
        errorStrategy  = 'retry'
        maxRetries     = 2
    }

    withLabel: cpu_process {
        queue          = 'IllinoisComputes'
        clusterOptions = "${params.cluster_acc} --job-name=evo2_cpu_process --nodes=1 --ntasks=1"
    }

    beforeScript = """
    export HF_HOME=${params.fast_cache}
    export PYTHONUNBUFFERED=1
    source ${params.evo2_venv}/bin/activate

    if [ ! -d "${params.fast_cache}" ]; then
        mkdir -p "${params.fast_cache}"
        cp -r "${params.taiga_dir}/huggingface_cache/"* "${params.fast_cache}/"
    fi
    """
}
